<h1><%= @chat_room.title %></h1>

<%= @chat_room.user.email %>

<div id="messages">
  <%= render @chat_room.messages %>
</div>

<%= form_for @message do |f| %>
  <div class="form-group">
    <%= f.hidden_field :chat_room_id, :value => @chat_room.id %>
    <%= f.label :body %>
    <%= f.text_area :body, class: 'form-control' %>
    <small class="text-muted">From 2 to 1000 characters</small>
  </div>

  <%= f.submit "Post", class: 'btn btn-primary btn-lg' %>
<% end %>

<%= params %>
